.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__item {
    flex-basis: 100%;
    @include tablet {
      flex-basis: calc((100% - 30px) / 2);
    }
    @include desktop {
      flex-basis: calc((100% - 90px) / 4);
    }
  }
  &__thumb {
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f4fa;
  }
  &__title {
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    color: var(--title-text-color);
    @include tablet {
      text-align: left;
    }
  }
  &__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
