.menu-list {
  display: flex;
  flex-wrap: wrap;
  width: 326px;
  height: 91px;
  gap: 8px;
  margin-bottom: 40px;
  @include tablet {
    flex-wrap: nowrap;
    width: auto;
    height: auto;
    justify-content: center;
    margin-bottom: 30px;
  }
  @include desktop {
    margin-bottom: 50px;
  }
}

.menu-list-btn {
  height: 38px;
  font-family: inherit;
  @include font(500, 16px, 1.63, 0.03em);
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  background-color: #f5f4fa;
  color: var(--title-text-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    background-color: #2196f3;
    color: var(--button-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects-list-item {
  width: 100%;
  @include tablet {
    flex-basis: calc((100% - 30px) / 2);
  }
  @include desktop {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.projects-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-card-thumb {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.project-description {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  @include font(400, 18px, 1.56, 0.03em);
  padding: 10px 10px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transition: transform var(--transition-duration) var(--transition-timing-function);
  @include mobile {
    padding: 77px 24px;
  }
  @include tablet {
    padding-top: 49px;
  }
  @include desktop {
    padding: 63px, 24px;
  }
  .projects-link:hover &,
  .projects-link:focus & {
    transform: translateY(0);
  }
}
.project-card {
  flex-grow: 1;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.projects-title {
  @include font(700, 18px, 2, 0.06em);
  margin-bottom: 4px;
  color: var(--title-text-color);
}
.projects-text {
  @include font(400, 16px, 1.88, 0.03em);
  color: var(--primary-text-color);
}
