.logo {
  font-family: var(--logo-font-family);
  @include font(700, 24px, 1.17, 0.03em);
  text-decoration: none;
  display: block;
  color: var(--logo-color);
  @include desktop {
    font-size: 26px;
    line-height: 1.19;
  }
  &__decoration {
    color: var(--accent-color);
  }
  &--light {
    color: #ffffff;
  }
}
