.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-duration) var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  width: 100vw;
  min-height: 609px;
  padding: 40px 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-bg-color);
  @include mobile {
    padding: 40px;
    width: 450px;
  }
  @include desktop {
    width: 528px;
    min-height: 581px;
  }
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color var(--transition-duration) var(--transition-timing-function);
  background-color: var(--primary-bg-color);
  color: #000000;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.modal-close-button {
  fill: currentColor;
}
.modal-title {
  @include font(700, 20px, 1.5, 0.03em);
  text-align: center;
  margin-bottom: 12px;
  color: var(--title-text-color);
  @include desktop {
    line-height: 1.15;
  }
}
.form-field {
  display: block;
  margin-bottom: 10px;
}
.form-thumb {
  position: relative;
}
.form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
  &:focus {
    border-color: var(--accent-color);
  }
}

.form-field-title {
  display: block;
  @include font(null, 12px, 1.17, 0.01em);
  margin-bottom: 4px;
  color: var(--primary-text-color);
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-duration) var(--transition-timing-function);
  fill: #212121;
  .form-input:focus + & {
    fill: var(--accent-color);
  }
}

.form-field-textarea {
  display: block;
  margin-bottom: 20px;
}
.form-textarea {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    @include font(null, 12px, 1.17, 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-field-checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 24px;
  margin-bottom: 30px;
  @include font(null, 12px, 1.17, 0.03em);
  color: var(--primary-text-color);
  @include mobile {
    flex-wrap: nowrap;
  }
  @include desktop {
    @include font(null, 14px, 1.71, 0.03em);
  }
}
.form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link-checkbox {
  display: inline-block;
  margin-left: 7px;
  text-decoration-line: underline;
  @include font(null, 12px, 1.17, 0.03em);
  color: var(--accent-color);
  @include desktop {
    @include font(null, 14px, 1.71, 0.03em);
  }
}

.form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  background-color: #ffffff;
  transition: border-color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function);
  .form-checkbox:checked + & {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
  .form-checkbox:focus + & {
    border-color: var(--accent-color);
  }
}
.form-check-icon {
  fill: var(--primary-bg-color);
  opacity: 0;
  .form-checkbox:checked + .form-check & {
    opacity: 1;
    fill: var(--primary-bg-color);
  }
}

.form-submit {
  display: block;
  margin: 0 auto;
  text-align: center;
}
