:root {
  --primary-font-family: 'Roboto', sans-serif;
  --logo-font-family: 'Raleway', sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --logo-color: #000000;
  --hero-bg-color: #2f303a;
  --button-bg-color: #2196f3;
  --button-color: #ffffff;
  --button-bg-accent-color: #188ce8;
  --team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --address-link-color: rgba(255, 255, 255, 0.6);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
